.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 1100px;
  height: auto;
}


.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.UcompensarLogo {
  filter: invert(1);
}

.section {
  margin-top: 2rem;
  font-family: var(--font-mono);
}

.section p{
  margin-bottom: 1rem;
}

.section ul li {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.section h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown_button {
  background-color: #4caf4f00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown_list {
  background-color: rgba(27, 25, 25, 0);
  margin-top: 5px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.dropdown_item {
  padding: 10px;
  cursor: pointer;
}

.dropdown_item:hover {
  background-color: #001aff;
}
